<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="招商贷项目">
    <test name="test">
        <classes>
            <class name="com.test.testcase.Register"/>
            <class name="com.test.testcase.Login"/>
            <class name="com.test.testcase.GetUserInfo"/>
            <class name="com.test.testcase.Recharge"/>
            <class name="com.test.testcase.AddLoan"/>
        </classes>
    </test>
</suite>